#exampleFormControlTextarea1{
	width:80%;
	margin:10px 5px 10px 40px;
	
	}
	#main{
		margin-top:15px;
		text-align:center;
		}
		
		#exampleFormControlInput1{
			width:80%;
			margin:10px 5px 10px 40px;
			
			}
			
			.btn-group{
				
				padding:10px;
				display:flex;
				
				justify-content:space-evenly;
				
				}